*{margin: 0;padding: 0;}

:root {
    --primary : rgb(0, 47, 0);
    --secondary : rgb(0,67,0);
    --ternery : rgb(0,87,0);
    --smokey : whitesmoke;
}

.light_fonts {
    font-weight: 400;
}

.h-5 {
    height: 5vh;
}

.w-100 {
    width: 100%;
}

.flex_adjust_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container {
    background-color: var(--primary);
    color: var(--smokey);
}

.menu_button {
    display: none;
}